$lightdark: #21252970;
$darkwarning: #ffa700;
$basesize: 3.5rem;

/* General styling elements */
body
{
    font-family: "Bebas Neue", cursive;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    line-height: normal;
}

@media (min-width: 1145px) {
    body {
        background-image: url("./Pics/302-3022607_world-of-warcraft-druid-tree.jpg");
    }
}

@media (max-width: 1144px) {
    body {
        background-image: url("./Pics/Ancient_of_Lore_\(art\).jpg");
    }
}

/* Applying personal styles to components: buttons */
.btn:focus, .btn-warning:focus, .btn-warning:active, .btn:active {
    box-shadow: none;
    -webkit-box-shadow: none;
}
  
.btn-warning:hover {
    background-color: $darkwarning;
}

/* Adding a personalized background color */
.bg-light-dark {
    background-color: $lightdark;
}

// Adding personalized letter spacing and font size dedicated to the word to guess */
.size-and-spacing {
    letter-spacing: $basesize / 10; // .35rem
    font-size: $basesize;
}

// Adding style to ul and list items
ul {
    max-width: $basesize * 8; // 28rem
    // ??? margin-left: -40px; ???
}

li {
    list-style-type: none;
    cursor: pointer;
    &:not(:last-child) {
        margin-right: 3px;
    }
    &:hover {
        color: $darkwarning;
        transform: scale(1.26);
        transition: .2s;
    }
}

// Making H2 more responsive
h2 {
    font-size: $basesize * .46;
    line-height: normal;
}

@media (max-width : 490px) {
    h2 {
        font-size: $basesize * .35;
    }
}